/bin/

# Archivos de configuración del IDE
.settings/
.idea/
*.iml

# Archivos generados por Java
bin/
target/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de log
*.log

# Archivos compilados de Java
*.class

